---
import { getTrendingMovies } from '../services/tmdb.js';
import '..//styles/global.css';

const trendingMovies = await getTrendingMovies();
---

<h1>Peliculas Populares de la semana</h1>
<ul>
  {trendingMovies.map((movie: { id: number; title: string; poster_path: string }) => (
    <li>
      <a href={`/movie/${movie.id}`}>
        <img src={`https://image.tmdb.org/t/p/w500${movie.poster_path}`} alt={movie.title} />
        <p>{movie.title}</p>
      </a>
    </li>
  ))}
</ul>
    </li>
  ))}
</ul>
    </li>
  ))}
</ul>
